@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
:root{
    --stdOrange:#fd5f00;
    --stdWhite:white;
    --stdNavcolor:#0d1128;
    --stdbgcolor:#fafafa;
    --stdfootcolor:#232323;
    --stdfootbtn:#5d50c6;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: var(--stdWhite);
}
.list{
    font-size: 25px;
}
.div{
    width: 95%;
}
.offcanvas-sec{
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Img/Bg-img/about-1.jpg); */
    background-color: #0d1128;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 270px; */
}
.btn-close{
    background-color: var(--stdWhite);
}
.nav-mobile{
    line-height: 0px;
}
.nav-mobile span{
    font-weight: bolder;
}
.nav-mobile h1{
    font-size: 55px;
  font-weight: bold;
}
.icon-tel{
    background-color: none;
    color: var(--stdOrange);
}
.nav-btn{
    background-color: var(--stdOrange);
    color: var(--stdWhite);
}
.nav-sec{
    background-color: var(--stdNavcolor);
}
.cta-sec{
    background-image: linear-gradient(45deg, #0d112850, #fd610050), url(../Img/Bg-img/bg-4.jpg);
    /* height: 85vh;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.h1-font{
    font-size: 3.5rem;
}

.col-orange{
    background-color: var(--stdOrange);
    color: var(--stdWhite);
}
.col-blue{
    background-color: var(--stdNavcolor);
    color: var(--stdWhite);
}
.bg-icon{
    background-color: var(--stdOrange);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
}
.icon-style{
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--stdWhite);
}
.fox-sec{
    background-image: linear-gradient(45deg, #0d112880, #fd6100), url(../Img/Bg-img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
.position-relative img{
    height: 25vh;
}
.fox{
    font-size: 44px;
}
.big{
    font-size: 45px;
}


.border-none{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--stdWhite);
    margin: 5px;
}
::placeholder{
    color: white;
    opacity: 1;
}

.icon-border{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: var(--stdWhite);
    top: 38%;
    left: 38%;
}
.icon-play{
    position: absolute;
  top: 30px;
  left: 34px;
  color: var(--stdOrange);
}
.para-font{
    font-size: 15px;
}
.color-h6{
    color: var(--stdOrange);
}
.bg-color{
    background-color: var(--stdbgcolor);
}
.quote-sec{
    background-image: linear-gradient(45deg, #0d112890, #fd610090), url(../Img/Bg-img/bg-4.jpg);
    /* height: 100vh;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
.quote-sec h2{
    font-size: 40px;
}
.box {
    background-color: #5d50c6;
}
.form ::placeholder{
    color: white;
}
.visible-text{
    opacity: 1;
    visibility: visible;
    
}
.foot-sec{
    background-color: var(--stdfootcolor);
}
.foot-btn{
    background-color: var(--stdfootbtn);
    color: var(--stdWhite);
}
.border-icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background-color: rgb(40, 35, 35);
    padding-bottom: 20px;

}

@media (min-width:768px) {
    .bg-about{
        background-image: url(../Img/Bg-img/about-1.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .electric-img{
        height: 117px;
    }
    .icon-border{
        border-radius: 50%;
        width: 65px;
        height: 65px;
        position: absolute;
        background-color: var(--stdWhite);
        top: 45%;
        left: 40%;
    }
    .icon-play{
        position: absolute;
        top: 23px;
        left: 26px;
        color: var(--stdOrange);
    }
    .position-relative img {
        background-position: center;
        height: 43vh;
      }
      .div{
        width: 40%;
        margin-right: 50px !important;
    }
  
}
@media (min-width:992px) {
    .nav-mobile{
        line-height: 10px;
    }
    .electric-img{
        height: 162px;
    }
    .icon-border{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: var(--stdWhite);
        top: 33%;
        left: 42%;
    }
    .icon-play{
        position: absolute;
        top: 16px;
        left: 24px;
        color: var(--stdOrange);
    }
}
@media (min-width:1400px) {
 
    .electric-img{
        height: 230px;
    }
    .position-relative img{
        height: 55vh;
    }
    .fox-sec{
        background-attachment: fixed;
    }
    .quote-sec{
        background-attachment: fixed;
    }
    .icon-border{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: var(--stdWhite);
        top: 40%;
        left: 42%;
    }
    .form button{
        /* padding: 20px; */
    }
    .icon-play{
        position: absolute;
        top: 25px;
        left: 29px;
        color: var(--stdOrange);
    }
}